@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  div.main {
    padding: 0 16px;
    max-width: 100%;
  }

  .technologies {
    flex-direction: column;
    gap: 30px; /* Уменьшим промежуток между элементами */
  }

  .technologies-right {
    max-width: 100%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #F1F4F7;
  font-family: Arial, Helvetica, sans-serif;
}

div.main {
  display: flex;
  max-width: 1280px;
  margin: auto;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.technologies-right {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 466px;
}